<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:fragment="base_header">
    <title th:text="'トレーニング管理アプリケーション'"></title>
    <meta charset="UTF-8"/>
    <title>Training App</title>
    <script th:src="@{/assets/js/ie/html5shiv.js}"></script>
    <link rel="stylesheet" th:href="@{/assets/css/main.css}"/>
    <link rel="stylesheet" th:href="@{/assets/css/style.css}"/>
    <link rel="stylesheet" th:href="@{/assets/css/ie9.css}"/>
    <link rel="stylesheet" th:href="@{/assets/css/ie8.css}"/>
</head>
<!-- Header -->
<header id="header" th:fragment="header">
    <div class="inner">
        <!-- Logo -->
        <a th:href="@{/}" class="logo">
            <span class="symbol">
                <img th:src="@{/images/logo.svg}" alt=""/>
            </span>
            <span class="title">TOP</span>
        </a>

        <!-- Nav -->
        <nav>
            <ul>
                <li><a href="#menu">Menu</a></li>
            </ul>
        </nav>
    </div>
</header>


<!-- Menu -->
<nav id="menu" th:fragment="nav_menu" th:with="util=${T(dev.trainingapp.other.util.ViewUtils)}, authenticated=${util.isAuthenticated()}">
    <h2>Menu</h2>
    <ul>
        <li><a th:href="@{/}">TOP</a></li>
        <li th:unless="${authenticated}" ><a th:href="@{/sign_up}">会員登録</a></li>
        <li th:unless="${authenticated}"><a th:href="@{/sign_in}">ログイン</a></li>
        <li th:if="${authenticated}"><a th:href="@{/sign_out}">ログアウト</a></li>
    </ul>
</nav>


<!-- Footer -->
<footer id="footer" th:fragment="footer">
    <div class="inner">
        <section>
            <h2>Get in touch</h2>
            <form method="post" action="#">
                <div class="field half first">
                    <input type="text" name="name" id="name" placeholder="Name"/>
                </div>
                <div class="field half">
                    <input type="email" name="email" id="email" placeholder="Email"/>
                </div>
                <div class="field">
                    <textarea name="message" id="message" placeholder="Message"></textarea>
                </div>
                <ul class="actions">
                    <li><input type="submit" value="Send" class="special"/></li>
                </ul>
            </form>
        </section>
        <section>
            <h2>Follow</h2>
            <ul class="icons">
                <li><a href="#" class="icon style2 fa-twitter"><span class="label">Twitter</span></a></li>
                <li><a href="#" class="icon style2 fa-facebook"><span class="label">Facebook</span></a></li>
                <li><a href="#" class="icon style2 fa-instagram"><span class="label">Instagram</span></a></li>
                <li><a href="#" class="icon style2 fa-dribbble"><span class="label">Dribbble</span></a></li>
                <li><a href="#" class="icon style2 fa-github"><span class="label">GitHub</span></a></li>
                <li><a href="#" class="icon style2 fa-500px"><span class="label">500px</span></a></li>
                <li><a href="#" class="icon style2 fa-phone"><span class="label">Phone</span></a></li>
                <li><a href="#" class="icon style2 fa-envelope-o"><span class="label">Email</span></a></li>
            </ul>
        </section>
        <ul class="copyright">
            <li>&copy; Untitled. All rights reserved</li>
            <li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
        </ul>
    </div>
</footer>
<th:block th:fragment="common_js">
    <script th:src="@{/assets/js/jquery.min.js}"></script>
    <script th:src="@{/assets/js/skel.min.js}"></script>
    <script th:src="@{/assets/js/util.js}"></script>
    <script th:src="@{/assets/js/ie/respond.min.js}"></script>
    <script th:src="@{/assets/js/main.js}"></script>
</th:block>
</html>
